.rodape{
    background-color: #6278f7;
    background-image: url("../../../public/imagens/fundo.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}
.redes img{
    margin: 10px;
}

.credito h6{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin: 10px;
}

@media (max-width:768px){
    .rodape{
        flex-direction: column;
        gap: 10px;
    }
}